<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watson.bank.dao.CardMapper">

    <resultMap id="BaseResultMap" type="com.watson.bank.domain.Card">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="cardName" column="card_name" jdbcType="VARCHAR"/>
            <result property="defaultCredit" column="default_credit" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        card_name,
        default_credit,
        create_time,
        update_time,
        version,
        del_flag
    </sql>
    <select id="commonQuery" resultType="com.watson.bank.domain.Card">
        select
            <include refid="Base_Column_List"/>
        from card
        <where>
            <if test="query.id != null">
                and id = #{query.id}
            </if>
            <if test="query.card_name != null">
                and id = #{query.id}
            </if>
        </where>
        order by id desc
    </select>
</mapper>
